<!DOCTYPE html>
<html lang="en">
<head>
    <title>YelpCamp</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link  rel ="stylesheet" href="../../public/stylesheets/main.css">
</head>
<body>
<div class="container">
    <h1>Política de cookies</h1>
    <h2>¿Qué son las cookies?</h2>
        <p>Cookie es un fichero que se <b>descarga en su ordenador</b> al acceder a determinadas páginas web. Las cookies permiten a una página web, entre otras cosas, almacenar y recuperar información sobre los hábitos de navegación de un usuario o de su equipo y, dependiendo de la información que contengan y de la forma en que utilice su equipo, pueden utilizarse para reconocer al usuario.</p>
        <p>El navegador del usuario memoriza cookies en el disco duro solamente durante la sesión actual ocupando un espacio de memoria mínimo y no perjudicando al ordenador. Las cookies no contienen ninguna clase de información personal específica, y la mayoría de estas se borran del disco duro al finalizar la sesión de navegador (las denominadas cookies de sesión).</p>
        <p>La mayoría de los navegadores aceptan como estándar a las cookies y, con independencia de estas, permiten o impiden en los ajustes de seguridad las cookies temporales o memorizadas.</p>
        <p>Sin tu expreso consentimiento –mediante la activación de las cookies en su navegador– la web no enlazará en las cookies los datos memorizados con sus datos personales proporcionados en el momento del registro o la compra.</p>

    <h2>¿Qué tipos de cookies utiliza esta web?</h2>
        <p><b>Cookies de sesión:</b> son cookies temporales que permanecen en el archivo de cookies de su navegador hasta que abandone la página web, por lo que ninguna queda registrada en el disco duro del usuario. La información obtenida por medio de estas cookies, sirven para analizar pautas de tráfico en la web. A la larga, esto nos permite proporcionar una mejor experiencia para mejorar el contenido y facilitando su uso.<br>
        <p><b>Cookies permanentes:</b> son almacenadas en el disco duro y nuestra web las lee cada vez que usted realiza una nueva visita. Una web permanente posee una fecha de expiración determinada. La cookie dejará de funcionar después de esa fecha. Las utilizamos, generalmente, para facilitar los servicios de compra y registro.</p>
        <p><b>Cookies propias:</b> son cookies creadas por este sitio web y que solo puede leer el propio sitio. Por ejemplo: cookies técnicas para la carga de imágenes, cookies de personalización de parámetros de la web, cookies de análisis de tráfico, etc.</p>
        <p><b>Cookies de terceros:</b> Son cookies creadas por terceros y que utilizamos para diferentes servicios (por ej. Análisis del sitio web o publicidad, de redes sociales,…)</p>
    <p>Según su finalidad: </p>
        <p><b>Cookies técnicas:</b> Las cookies técnicas son aquellas imprescindibles y estrictamente necesarias para el correcto funcionamiento de una Web y la utilización de las diferentes opciones y servicios que ofrece. Por ejemplo, las que sirven para el mantenimiento de la sesión, la gestión del tiempo de respuesta, rendimiento o validación de opciones, utilizar elementos de seguridad, compartir contenido con redes sociales, etc.</p>
        <p><b>Cookies de personalización:</b> Estas cookies permiten al usuario especificar o personalizar algunas características de las opciones generales de la Web, Por ejemplo, definir el idioma, configuración regional o tipo de navegador.</p>
        <p><b>Cookies analíticas:</b> Las cookies analíticas son las utilizadas por la Web, para elaborar perfiles de navegación y poder conocer tus preferencias con el fin de mejorar la oferta de productos y servicios. Por ejemplo, mediante una cookie analítica se controlarían las áreas geográficas de mayor interés de un usuario, cuál es el producto de más aceptación, etc.</p>
        <p><b>Cookies publicitarias:</b> Las cookies publicitarias permiten la gestión de los espacios publicitarios en base a criterios concretos. Por ejemplo, la frecuencia de acceso, el contenido editado, etc. Las cookies de publicidad permiten a través de la gestión de la publicidad almacenar información del comportamiento a través de la observación de hábitos, estudiando los accesos y formando un perfil de preferencias del usuario, para ofrecerle publicidad relacionada con los intereses de su perfil.</p>
    <p>Las cookies de esta web ayudan a:</p>
        <p>Hacer que esta web funcione correctamente.</p>
        <p>Ahorrarle el tener que iniciar sesión cada vez que visitas este sitio.</p>
        <p>Recordarte tus ajustes durante y entre las visitas.</p>
        <p>Permitirte visualizar vídeos.</p>
        <p>Mejorar la velocidad/seguridad de la web.</p>
        <p>Que puedas compartir el contenido en las redes sociales.</p>
        <p>Mejorar continuamente esta web.</p>
        <p>Mostrarte anuncios en función de tus hábitos de navegación.</p>

    <p>No utilizaré jamás cookies para:</p>
        <p>Recoger información de identificación personal (sin tu consentimiento expreso).</p>
        <p>Recoger información sensible (sin tu permiso expreso).</p>
        <p>Compartir datos de identificación personal a terceros.</p>

    <h2>Cookies de terceros utilizados en esta web</h2>
        <p>En particular, este sitio web utiliza:</p>

        <p><b>Google Analytics:</b> un servicio analítico de web prestado por Google, Inc., una compañía de Delaware cuya oficina principal está en 1600 Amphitheatre Parkway, Mountain View (California), CA 94043, Estados Unidos (“Google”). Google Analytics utiliza “cookies”, que son archivos de texto ubicados en tu ordenador, para ayudar a YelpCamp.com a analizar el uso que hacen los usuarios del sitio web. La información que genera la cookie acerca de su uso de YelpCamp.com (incluyendo tu dirección IP) será directamente transmitida y archivada por Google en los servidores de Estados Unidos.</p>
        <p><b>Hosting:</b> 000webhost.com</p>
        <p><b>Asesoría/Gestoría:</b> ........</p>
        <p><b>Plataforma web:</b>Automattic Inc., con domicilio en EEUU. Más información en: <a href="#">https://es.wordpress.com/</a> (Automattic Inc.). Automattic Inc. trata los datos con la finalidad de realizar sus servicios de plataforma web.</p>
        <p><b>Email marketing:</b> ........</p>

    <h2>Desactivar las cookies</h2>
        <p>Puedes permitir, bloquear o eliminar las cookies instaladas en su equipo mediante la configuración de las opciones del navegador instalado en su ordenador.</p>
        <p>A continuación, puedes acceder a la configuración de los navegadores webs más frecuentes para aceptar, instalar o desactivar las cookies:</p>

        <p><a href="https://support.google.com/chrome/answer/95647?hl=es">Chrome</a></p>
        <p><a href="https://support.microsoft.com/es-es/help/278835/how-to-delete-cookie-files-in-internetexplorer">Explorer</a></p>
        <p><a href="https://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-sitios-web-rastrearpreferencias">Firefox</a></p>
        <p><a href="https://support.apple.com/es-es/HT201265">Safari</a></p>


    <p>Al desactivar a eliminar las cookies, parte de la web no funcionará o la calidad de la página puede verse afectada.</p>
    <p>Si tiene dudas sobre esta política de cookies, puede contactar con yelpcamp en yelp@camp.com</p>
    <p>Última revisión el 16/07/2020</p>
    <p>***Esta política de cookies es ficticia y tiene fines educativos, no lucrativos***</p>
</div>
</body>
</html>