<!DOCTYPE html>
<html lang="es">
	<head>
		<title>YelpCamp</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
			  crossorigin="anonymous">
		<link  rel ="stylesheet" href="../../public/stylesheets/main.css">
	</head>
	<body>
	<div class="container">
		<h1>Política de privacidad</h1>
			<p>Esta web cumple el Reglamento (UE) 2016/679 del Parlamento Europeo y del Consejo, de 27 de abril de 2016, relativo a la protección de las personas físicas en lo que respecta al tratamiento de datos personales y a la libre circulación de estos datos y por el que se deroga la Directiva 95/46/CE (En adelante, RGPD) y la Ley Orgánica 3/2018, de 5 de diciembre, de Protección de datos Personales y garantías de los derechos digitales.</p>
			<p>En todo momento se adoptan las medidas técnicas y de organización necesarias para garantizar la seguridad e integridad de los datos de carácter personal que trate, así como para evitar su pérdida, alteración y/o acceso por parte de terceros no autorizados.</p>

		<h2>Responsable de la web</h2>
			<p>Identidad del responsable: <br>
			<p>NIF/CIF: </p>
			<p>Dirección: </p>
			<p>Correo electrónico: </p>
			<p>Actividad social: </p>

		<h2>Cómo se obtienen los datos y base del consentimiento</h2>
			<p>Como usuario, mediante la marcación de la casilla, aceptas expresamente y de forma libre e inequívoca que sus datos personales sean tratados por mi parte, (tu nombre), para realizar las siguientes finalidades:</p>
			
				<p>Remitir el boletín de noticias de la web.</p>
				<p>Tramitar encargos, solicitudes o cualquier tipo de petición que sea realizada por el usuario a través de cualquiera de las formas de contacto que se ponen a su disposición en la web.<p>
				<p>Remisión de comunicaciones comerciales publicitarias por email relacionadas sobre productos o servicios que ofrezco, así como por parte de los colaboradores o partners con los que hubiera alcanzado algún acuerdo de promoción comercial entre sus clientes. En este caso, los terceros nunca tendrán acceso a los datos personales. En todo caso las comunicaciones comerciales serán realizadas por mi parte a través de la newsletter y serán productos y servicios relacionados con el sector.</p>
				<p>Realizar estudios estadísticos.</p>

			<p>La base legal para el tratamiento de sus datos es: el consentimiento.</p>
			<p>Los datos que se solicitan a través de la web son obligatorios, ya que son necesarios para la prestación de un servicio óptimo al usuario. En caso de que no sean facilitados todos los datos, no garantizo que la información y servicios facilitados sean completamente ajustados a sus necesidades.</p>

		<h2>Encargados de tratamiento</h2>
			<p>Para prestar servicios estrictamente necesarios para el desarrollo de la actividad, se comparten datos con los siguientes prestadores bajo sus correspondientes condiciones de privacidad:</p>
			<p><b>Google Analytics:</b> un servicio analítico de web prestado por Google, Inc., una compañía de Delaware cuya oficina principal está en 1600 Amphitheatre Parkway, Mountain View (California), CA 94043, Estados Unidos (“Google”). Google Analytics utiliza “cookies”, que son archivos de texto ubicados en tu ordenador, para ayudar a YelpCamp.com a analizar el uso que hacen los usuarios del sitio web. La información que genera la cookie acerca de su uso de YelpCamp.com (incluyendo tu dirección IP) será directamente transmitida y archivada por Google en los servidores de Estados Unidos.</p>
			<p><b>Hosting:</b> 000webhost.com</p>

		<h2>Ejercicio de sus derechos</h2>
			<p>Como usuario podrás dirigir sus comunicaciones y ejercitar los derechos de acceso, rectificación, cancelación y oposición a través de correo postal en ……………………………………….., o al correo electrónico: yelp@camp.com junto con prueba válida en derecho, como fotocopia del D.N.I. o equivalente, indicando en el asunto “Protección de Datos”.</p>
			<p>Del mismo modo, podrás darte de baja de cualquiera de los servicios de suscripción facilitados haciendo clic en el apartado de darse de baja de todos los correos electrónicos remitidos. Si recibe los citados correos electrónicos es que ha dado su autorización previa, ya que no se realizan prácticas de SPAM.</p>

		<h2>Aceptación y consentimiento</h2>
			<p>Declaras haber sido informado de las condiciones sobre protección de datos de carácter personal, aceptando y consintiendo el tratamiento de estos por parte de (tu nombre) en la forma y para las finalidades indicadas en esta política de privacidad.</p>

		<h2>Modificación en la política de privacidad</h2>
			<p>En cualquier momento puedo modificar la presente política para adaptarla a novedades legislativas o jurisprudenciales, así como a prácticas de la industria. En dichos supuestos, anunciaré en esta página los cambios introducidos con razonable antelación a su puesta en práctica.</p>
			<p>Última revisión el 16/07/2020</p>
			<p>***Esta política de privacidad es ficticia y tiene fines educativos, no lucrativos***</p>
	</div>
	</body>