<!DOCTYPE html>
<html lang="es">
	<head>
		<title>YelpCamp</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
			  crossorigin="anonymous">
		<link  rel ="stylesheet" href="../../public/stylesheets/main.css">
	</head>
	<body>
	<div class="container">
		<h1>Aviso legal y condiciones de uso</h1>
			<p>En cumplimiento de la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y del Comercio Electrónico, se informa que el titular de esta web es (tu nombre) con NIF………………… y con domicilio en …………………………………………………….. siendo su actividad social………………………………………..</p>
			<p>En este espacio encontrarás toda la información relativa a los términos y condiciones legales que definen las relaciones entre los usuarios y yo como como responsable de esta web.</p>
			<p>Como usuario, es importante que conozcas estos términos antes de continuar navegando por la misma.</p>

		<h2>Finalidad de la web</h2>
			<p>El objeto de esta web es ofrecer un espacio donde puedes conocer mi trabajo</p>
			<p>En concreto:<br>
				<p>……..</p>
				<p>……..</p>
				<p>……..</p>
			(especifica los servicios y productos que vendes en la web)</p>

		<h2>Uso de la web</h2>
			<p>Al acceder a la web adquieres la condición de USUARIO, aceptando las presentes condiciones de uso. No obstante, por el mero uso de la web no significa el inicio de una relación laboral/comercial entre nosotros.</p>
			<p>Como usuario te comprometes a hacer un uso adecuado de los contenidos que se ofrecen a través de esta web, por lo que te comprometes, entre otros, a no emplearlos para:</p>
				<p>Incurrir en actividades ilícitas, ilegales o contrarias a la buena fe y al orden público.</p>
				<p>Difundir contenidos o propaganda de carácter racista, xenófobo, pornográfico, de apología de terrorismo o atentado contra los derechos humanos.<p>
				<p>Provocar daños en los sistemas físicos y lógicos de (tu nombre comercial), de sus proveedores o de terceras personas, introducir o difundir en la red virus informáticos o cualquiera otros sistemas físicos o lógicos que sean susceptibles de provocar los daños anteriormente mencionados.</p>
				<p>Intentar acceder y, en su caso, utilizar las cuentas de correo electrónico de otros usuarios y modificar o manipular sus mensajes.</p>
			<p>Me reservo el derecho de retirar todos aquellos comentarios y aportaciones que vulneren el respeto a la dignidad de la persona, que sean discriminatorios, xenófobos, racistas, pornográficos, que atenten contra la juventud o la infancia, el orden o la seguridad pública o que, a su juicio, no resultaran adecuados para su
			publicación.</p>
			<p>No seré responsable de las opiniones vertidas por los usuarios a través del blog u otras herramientas de participación que puedan crearse, conforme a lo previsto en la normativa de aplicación.</p>

		<h2>Política de enlaces</h2>
			<p>Esta web puede enlazar a contenidos de otros blogs que considere de interés para el tema tratado.</p>
			<p>Siempre se enlaza con sitios de confianza y que sean respetuosos con tus derechos como usuario. No obstante, no se puede responder de los resultados que puedas obtener con motivo del acceso a tales sitios enlazados.</p>
			<p>También puede incluirse enlaces de afiliados de productos recomendados, que no supondrán un incremento de su coste.</p>

		<h2>Protección de datos</h2>
			<p>De conformidad con la Ley Orgánica 3/2018, de 5 de diciembre, de Protección de Datos Personales y garantía de los derechos digitales y el Reglamento (UE) 2016/679 del Parlamento Europeo, el Prestador se compromete a adoptar las medidas técnicas y organizativas necesarias, según el nivel de seguridad de los datos recabados, de forma que garanticen la seguridad de los datos de carácter personal y eviten su alteración, pérdida, tratamiento o acceso no autorizado.</p>
			<p>Para ampliar información, consulte la <a href="privacy.html">política de privacidad</a> de esta web.</p>

		<h2>Propiedad intelectual</h2>
			<p>Soy titular de todos los derechos de propiedad intelectual de la web, así como de los elementos contenidos en la misma; a título enunciativo, imágenes, sonido, audio, vídeo, software o textos, marcas o logotipos, combinaciones de colores, estructura y diseño, selección de materiales usados, programas de ordenador necesarios para su funcionamiento, acceso y uso, etc.</p>
			<p>Cualquier uso no autorizado previamente por mí, será considerado un incumplimiento grave de los derechos de propiedad intelectual o industrial del autor.</p>
			<p>Para realizar cualquier tipo de observación respecto a posibles incumplimientos de los derechos de propiedad intelectual o industrial, así como sobre cualquiera de los contenidos del sitio web, puede hacerlo a través del siguiente correo electrónico: (tu email)</p>

		<h2>Exclusión de garantías y responsabilidad</h2>
			<p>No garantizo la continuidad, disponibilidad y utilidad de la web, ni de los Contenidos o Servicios. Haré todo lo posible por el buen funcionamiento de esta, sin embargo, no me responsabilizo ni garantizo que el acceso a esta web no vaya a ser ininterrumpido o que esté libre de error.</p>

		<h2>Duración y modificación</h2>
			<p>Este aviso legal podrá ser modificado en cualquier momento, atendiendo a la evolución de esta web y los contenidos en ella ofrecidos.</p>
			<p>Igualmente, en la web se puede cambiar, suprimir o añadir tanto los contenidos y servicios que se presten a través de esta como la forma en la que éstos aparezcan presentados o localizadas en la web.</p>

		<h2>Legislación aplicable y jurisdicción</h2>
			<p>Para la resolución de todas las controversias o cuestiones relacionadas con el presente sitio web o de las actividades en él desarrolladas, será de aplicación la legislación española, a la que se someten expresamente las partes, siendo competentes para la resolución de todos los conflictos derivados o relacionados con su uso los Juzgados y Tribunales de (indicar el lugar, recomiendo que sea el de tu lugar de residencia).</p>
			<p>Última revisión el 16/07/2020</p>
			<p>***Estos términos de uso son ficticios y tienen fines educativos, no lucrativos***</p>
	</div>
	</body>